#joh{
    margin: 2px;
    font-size: large;
    text-align: justify;
    background-color:rgb(1, 1, 34);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  .jm{
    color:white;
    background-color: black;
    font-size: larger;
    align-content: center;
 }
 *{
    margin: 2px;;
    padding: 2px;;
    box-sizing: border-box;
  }
  header{
    height: 100px;
    background:#e7e2e2;
    display:flex;
    justify-content:space-around;

    }
    ul{
        display:flex;
        list-style-type:none;
        align:center;

      }
      ul li a{
        padding:0 20px;
        text-decoration:none;
        color:black;
        display:inline-block;
        font-size: large;
      }
      li a::after{
        content:'';
        display:block;
        height: 4px;
        width:0;
        background:rgba(202, 5, 38, 0.815);
        transition:all.5s;
         }
     li a:hover::after{
            width: 50px;

          }
          
        .flexbox-container{
            display: flex;
    
 
              }
              #flexbox-container{
                display: flex;
    
    
            }
        #flexbox-container-1{
            display: flex;
            align-items:center;
            ustify-content: space-between;
        }
        .flexbox-item{
            width:auto;
            margin: 10px;
            border: 1px solid transparent;
            justify-items: center;
            align-items: center;
          }
        #div-1{
            font-size: 250%;
            font-weight:bolder;

        }
        #div-2{
            align-content:right;
            j
        }
        .new {
            color:rgb(180, 104, 33);
            text-align: center;
           }
           .img{
                 width:75px;
                 height: 95px;
                 border-width: 1dvh;
   
                }
                
   .h3{
    color: black;

   }
#tml{
    color: Soft red;
   }
   @meedia-screen-and (min-width:780px){
         .container{
           display:flex;
         }
          }
 
 #class {
   text-align: center;
   text-overflow: clip;
   text-size-adjust:40px ;
 } 
 .content{
    color: white;
    text-align: center;
     }
     
     #image{
      width: 700px;
        }
        .num{
            color: grey;
            font-weight: lighter;
        }